body{
  width:100%;
  font-family:  'Cabin', sans-serif;
}

h1{
  color:#110551;
  text-align:center;
  font-size:36px;
  margin-top:100px;
  margin-bottom:100px;
  font-weight:bold;
}

.video{
  margin:0 auto;
  width:520px;
  height:135px;
}

.video1{
  float:left;
}

.video2{
  float:right;
}

.explain-wrapper{
  margin:0 auto;
  width:40%;
}

.explain{
  color:#110551;
  text-align:center;
  margin-top:100px;
  margin-bottom:150px;
  font-weight:bold;
  font-size:16px;
}

.profile{
  margin:0 auto;
  width:30%;
}

h2{
  text-align:center;
  color:#110551;
  font-size:32px;
  margin-bottom:50px;
}

.name{
  font-size:16px;
  font-weight:bold;
  color:#110551;
  text-align:center;
  margin-bottom:30px;
}

.career{
  font-size:16px;
  font-weight:bold;
  color:#110551;
  text-align:center;
}

.mail{
  font-size:20px;
  font-weight:bold;
  color:#110551;
  text-align:center;
  line-height:150px;
}
